.game-slider-section {
  background-color: $tomato;
  padding: 2em;
}

.toss-text {
  margin-top: 1em;
  text-align: center;
}

.toss-description {
  margin-top: 1em;
}

.toss-cup {
  text-align: center;
}

.email-sign-up-section {
  @extend .clearfix;
  background-color: $primary-color;
  padding: 50px;

  &, h4 {
    color: $white;
  }

  .email-box {
    margin-top: 42px;
  }
}
