.game-slider-section {
  background-color: $tomato;
}

.toss-text {
  text-align: center;
}

.toss-description {
  margin-top: 1em;
}

.toss-cup {
  text-align: center;
}

.email-sign-up-section {

  &, h4 {
    color: $white;
  }

  .email-box {
    margin-top: 42px;
  }
}
