.row.ptl
  %ul.breadcrumbs
    %li= link_to "Admin Dashboard", "/admin"
    %li= link_to "Games", admin_games_path
    %li.current= link_to "New Game", new_admin_game_path

  %h1 New game
  = render "form"
