@font-face {
  font-family: 'tokyo';
  src: font-url('a-tokyo-pop-star.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Six+Caps);
