@font-face {
  font-family: 'bionique';
  src: font-url('bionique.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ganz';
  src: font-url('ganz.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Deutsch';
  src: font-url('Deutsch.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rocker';
  src: font-url('NewRocker.otf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Germania One';
  src: font-url('GermaniaOne.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

// Import Oswald and Droid Sans and Lato
@import url('//fonts.googleapis.com/css?family=Lato:300|Droid+Sans:400,700|Oswald');

.italic {
  font-style: italic;
}

.toss-font {
  font-family: 'Deutsch';
  font-size: 1.2em;
}
