<h1>Games</h1>

<% @games.each do |game| %>
  <h4><%= link_to game.title, game_path(game) %></h4>
  <%if signed_in?%>
    <% @cart_action = game.cart_action current_user.try :id%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(game), removeUrl: remove_from_cart_path(game)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>
<% end %>
