.row.ptl
  %ul.breadcrumbs
    %li= link_to "Admin Dashboard", "/admin"
    %li= link_to "Posts", admin_posts_path
    %li.current= link_to @post.title, edit_admin_post_path(@post)

  %h1 Edit Post
  = render "form"
