.what-is-toss.clearfix
  .row
    .medium-8.columns.medium-centered
      %h2 What is <span class="toss-font">ToSS</span>?

      %p "ToSS: Trials of Sword and Staff" is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign. "ToSS: Trials of Sword and Staff" is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign.
