.about-us-section
  .row
    .columns.medium-10.medium-centered
      %h1 About Us

      %p"ToSS: Trials of Sword and Staff" is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign.

      .nerd
        = image_tag "christina.jpg"
        %p
          %span.name Justin Warren
          is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign.

      .nerd
        = image_tag "christina.jpg"
        %p
          %span.name Christina Koller
          is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign.

      .nerd
        = image_tag "christina.jpg"
        %p
          %span.name Jeremy Warren
          is a cooperative dexterity game in which your heroes fight to slay monsters and loot treasure by throwing ping pong balls into cups. Level as a warrior or a wizard, play a single scenario or take on a campaign.
