.about-us-section.main
  .row
    .columns.medium-10.medium-centered
      %h1 About Us

      %p Justin, Christina, and Jeremy make up Vaguely Amazing, a group dedicated to making smart, fun party games. We've been crafting experiences for our friends and extended social groups for years, but ToSS is our first public offering, the flagship game we're shoving out into the sunlight in hopes that a friendly baboon will pick it up and hold it triumphantly aloft while throngs of animals rejoice below, trumpeting and rearing in wild abandon. That's really our ideal scenario.

      Justin and Jeremy are brothers; Justin and Christina are getting married this summer. We're all family, we're all circus performers, and we're all enormous nerds. We love making and playing games, and we're excited to bring ToSS to the wider world. Hundreds of people have already played it and helped us develop it to where it is, and the feedback has been overwhelmingly positive. We hope you support us, and we'd love your feedback.

      .nerd
        = image_tag "jer.jpg"
        %p
          %span.name Jeremy Warren
          is a professional circus performer, educator, and gamer. He spends much of his week teaching and running Dungeons & Dragons classes for schools and social development groups, and has helped develop award-winning educational games. Jeremy has been part of every element of creating and running a start-up including product development, marketing and client outreach, booking and contractor management, and actual performance and product delivery. When asked what he does for a living, Jeremy often replies that he yells at children and sets things on fire.

      .nerd
        = image_tag "justin.jpg"
        %p
          %span.name Justin Warren
          has always considered ‘play’ to be an important part of life and learning. He currently shares this love through teaching chess and circus in schools, as well as interning for the Games for Change nonprofit organization. He studied psychology and behavioral economics at Vassar College, at least when he wasn’t juggling or designing silly games.

      .nerd
        = image_tag "christina.jpg"
        %p
          %span.name Christina Koller
          is game-loving circus-person-turned-web-developer! She should probably write a real bio at some point. She studied Cognitive Science and Computer Science at Vassar College, and now teaches web deveopment at Launch Academy in Boston.
