- title "ToSS: Fantasy Pong Game - Vaguely Amazing"
- content_for :body_class, "red-body"

.medium-9.medium-centered.columns
  .toss-text
    = image_tag "toss.png"
    %h4.toss-subtitle
      <span>T</span>rials of <span>S</span>word and <span>S</span>taff


  .medium-6.columns
    .toss-cup
      = image_tag "toss-cup.png"
  .medium-6.columns
    .toss-description
      %p "ToSS: Trials of Sword and Staff" is a cooperative dexterity game in which you are heroes fighting to slay monsters and loot treasure - by throwing ping pong balls into cups. Earn levels as a warrior or a wizard, explore exciting new powers and most importantly, get to have fun whatever your skill level.  Your team can take on a full campaign and try to achieve glory, keep it quick with a single scenario, or even go head-to-head in team combat!
      %p We'll be launching our Kickstarter in May! Sign up for our mailing list to stay updated.
    .row.mtl
      = render "mailchimp_form"

-# = render "what_is_toss"
