- title "ToSS: Fantasy Pong Game - Vaguely Amazing"

.game-slider-section.clearfix
  .medium-9.medium-centered.columns
    .toss-text
      = image_tag "toss.png"
      %h4.text-center Trials of Sword and Staff


    .medium-6.columns
      .toss-cup
        = image_tag "cup2.jpg"
    .medium-6.columns
      .toss-description "ToSS: Trials of Sword and Staff" is a cooperative, strategic, fantasy pong game in which you play heroes fighting to save the kingdom from doom - by sinking balls into cups. ToSS is our flagship game, and we're aiming to launch a Kickstarter in Spring 2016.
      .row.mtl
        = render "mailchimp_form"
