.game-slider-section.clearfix
  .medium-6.medium-offset-1.columns
    .toss-text
      = image_tag "toss.png"

      .toss-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis ex eget neque commodo, in porttitor nisl egestas. Sed id ultrices ipsum. Vestibulum volutpat consequat velit, non rutrum diam tempor et.
      = link_to "Play it Now", toss_path, class: "button-white round mtl"

  .medium-4.end.columns
    .toss-cup
      = image_tag "cup.png"

.email-sign-up-section
  .row
    .medium-4.columns
      .columns
        %h4 Stay updated!
        %p Sign up to get news on our upcoming Kickstarter. We'll never spam you, we promise!
    .medium-8.columns
      = render "mailchimp_form"
