- title "Vaguely Amazing presents T.o.S.S. - Fantasy RPG Pong"
- meta_description "TODO ADD META DESCRIPTION"

.game-slider-section.clearfix
  .medium-6.medium-offset-1.columns
    .toss-text
      = image_tag "toss.png"

      .toss-description Welcome! Click below to check out our latest playtest version of ToSS. Download the free Print & Play, and make sure to give us feedback!
      = link_to "Play it Now", toss_path, class: "button-white round mtl"

  .medium-4.end.columns
    .toss-cup
      = image_tag "cup.png"

.email-sign-up-section
  .row
    .medium-4.columns
      .columns
        %h4 Stay updated!
        %p Sign up to get news on updates and our upcoming Kickstarter. We'll never spam you, we promise!
    .medium-8.columns.email-box
      = render "mailchimp_form"
