.button-white {
  @extend .button;

  border: 2px solid $white;
  background-color: transparent;

  &:hover, &:focus {
    background-color: transparentize($white, .7);
  }
}

.button-green {
  @extend .button;

  background-color: $green;

  &:hover, &:focus {
    background-color: darken($green, 10%);
  }
}

.button-dark-border {
  @extend .button;

  border: 3px solid #3F3B3C;

  &:hover, &:focus {
    background-color: darken(#25537F, 10%);
  }
}
