.row
  %h1.mvl Admin Dashboard

  .medium-4.columns
    .panel
      %h4= link_to "Toss Feedback", admin_feedbacks_path

  -# .medium-4.columns
  -#   .panel
  -#     %h4= link_to "Games", admin_games_path
  -# .medium-4.columns.end
  -#   .panel
  -#     %h4= link_to "Posts", admin_posts_path
